:root {
  --color: blue;
}

:root a {
  color: red;

  & .nested {
    color: green;
  }
}

.base {
  color: green;

  & .nested {
    color: blue;
  }

  & a {
    color: red;

    & * {
      color: green;
    }

    & > h1 + h2 {
      color: blue;
    }
  }
}

a.with-class {
  color: red;
}

a#with-id {
  color: blue;
}

a[with-attr='hello'] {
  color: green;
}

@custom-media --viewport-medium (width <= 50rem);

@media (custom-media) {
  :root {
    & a {
      color: green;
    }
  }

  .base {
    color: red;

    & a {
      color: blue;
    }
  }
}
