:root {
  --color: blue;
}

:root a {
  --color: red;
}

.base[bound-attr] {
  color: green;

  & .nested[bound-attr] {
    color: blue;
  }

  & a[bound-attr] {
    color: red;
  }
}

a[bound-attr].with-class {
  color: red;
}

a[bound-attr]#with-id {
  color: blue;
}

a[bound-attr][with-attr='hello'] {
  color: green;
}

@custom-media --viewport-medium (width <= 50rem);

@media (custom-media) {
  .base[bound-attr] {
    color: red;

    & a[bound-attr] {
      color: blue;
    }
  }
}
